{% extends 'base_layout.html' %}

{% block body %}
<div class="row mx-auto" style="background-color:#9842FE"> 
        <div class="col-sm-12">
                <h1>About Me</h1>
                <p>Sakunit Iamenetre  62102010188</p>
                <p>27/10/2000</p>
                <p>Comsci Swu</p>
                <a href="https://www.twitch.tv/milkz35"><p>twitch</p></a>
                <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/52498767_2242507172734657_1979761004677955584_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHInfKRQTvUTImqdPmNvmhOZxj3Wh42av5nGPdaHjZq_vP3WXX28fGYg3Vz-Cv7JiX1505nX1Vs52_zcstjzye_&_nc_ohc=Yt7ECbL_0XcAX8m26hv&_nc_ht=scontent.fbkk12-2.fna&oh=3f70d5e4b0c6d352dabd89c312001fd8&oe=603D0536" 
                style="margin-top: 20px;" width="300" height="300">
                <br><br><br>
                
        </div>
</div>
{% endblock %}